<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/chef_style.css' %}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>King Donat</title>
</head>

<body id="chef">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8BBD0;">
				<a class="navbar-brand" href="{% url 'homepage:home' %}">Donat</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'homepage:home' %}">Beranda</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="{% url 'homepage:person' %}">Pesan</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'chef:chef' %}">Koki</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'kurir:kurir' %}">Kurir</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'homepagee:feedback' %}">Feedback</a>
					</li>
				  </ul>
				</div>
			</nav>
	<div class="container">
		<diccv class= "row">
		{% for news in pesanan_list %}
			<div class="col-2">
				<h3>{{news.name}}</h3>
					<p>{{news.donut_base}}</p>
			          	<ul>
						  	{% if news.donut_flav_A != 0 %}
							 	<li><p> Donat A : {{news.donut_flav_A}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_B != 0 %}
							 	<li><p>Donat B : {{news.donut_flav_B}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_C != 0 %}
							 	<li><p>Donat C : {{news.donut_flav_C}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_D != 0 %}
							 	<li><p>Donat D : {{news.donut_flav_D}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_E != 0 %}
							 	<li><p>Donat E : {{news.donut_flav_E}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_F != 0 %}
							 	<li><p>Donat F : {{news.donut_flav_F}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_G != 0 %}
							 	<li><p>Donat G : {{news.donut_flav_G}} pcs</p></li>
							{% endif %}

							{% if news.donut_flav_H != 0 %}
							 	<li><p>Donat H : {{news.donut_flav_H}} pcs</p></li>
							{% endif %}
						</ul>

					<div class = 'form-group'>
                      <form action="done/{{ news.id }}/" method="POST">
                          {% csrf_token %}
                          <button class="btn btn-danger" type="submit">Done</button>
                      </form>	
                    </div>
			</div>
		{% endfor %}
	</div>
	<div class="row justify-content-center">
	<a href="{% url 'chef:bahan' %}"><button class="btn" style= "background-color: #FBE2BD">Request</button></a>
	</div>
</body>
</html>
