<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type="text/css" href ="{% static 'css/chef_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>King Donat</title>
</head>

<body id="req">

	<div class="row justify-content-center formBahan ">
		<form class="formreq" action="" method="post">
			<div>
		        {% csrf_token %}
		        <div class="form-row">
	        		<div class="form-group col-sm-10">
	        			<br>
	        			<p> 
	        			<br>
	        				Nama Koki :
	        			<br>
		                    {{ form.nama }}
		                </p>
		                <p>
		                <br>
						Bahan :
		                    {{ form.form }}
		                </p>
	                	</div>
            	</div>
		    </div>
			<input type="submit" value="submit" style="background-color: #D8AEAE">    
	    </form>
	    <div class="row justify-content-right" style="width: 100px; height: auto;">
        	<img src="{% static 'img/donat.png' %}" alt="donat"> 
    	</div>
	</div>
</body>

</html>