{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html>
<head>
	<title>Ringkasan</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	
	
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
	<body>
		<style>
		.btq{
			background:#FFAAA5;
		}
		.bg{
			background-color:#F5AB40;
		}
		.a{
			color:#FF8B20;
			text-align:center;
		}
		.space{
			margin:5%;
		}
		.warna{
			color:#DD7777;
			font-size:25px;
		}
		#i{
			left:0px;
			bottom:0px;
		}
		.k{
			margin:3px;
		}
		</style>
		<div class="k">
	<img src="{% static 'lg.png' %}" width="100px">
</div>	
		
		<h1 class="a space"> Silahkan selesaikan pesanan anda </h1>
		<div class="space warna">
		<p>
Transfer ke salah satu rekening di  bawah ini:<br>
BNI 029829812<br>
BCA 012836239<br>
Mandiri 1349234630

<br>
<br>
<br>
<br>
Terimakasih telah memilih produk kami. 
Pesanan anda akan segera kami proses
		<br><br></p></div>
		<div class="container">
			<div class="row">
			<div class="col-xl-6">
	    <form method="POST" class="post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="label label-default h3 save btn btn-default btq">Save</button>
			<br><br>
	    </form>
	</div>
	<div class="col" id=i>
		<img src="{% static 'y.png' %}" width="500px">
	</div>
</div>
</div>

	</body>
	{% load staticfiles %}
</html>