
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html>
<head>
	<title>Ringkasan</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	
	
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<style>
		.btq{
			background:#FFAAA5;
		}
		.bg{
			background-color:#F5AB40;
		}
		.a{
			color:#FF8B20;
			text-align:center;
		}
		.post{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.row-striped:nth-of-type(odd){
		  background-color: #FFAAA5;
		  border-left: 4px #000000 solid;
		}

		.row-striped:nth-of-type(even){
		  background-color: #F3A67B;
		  border-left: 4px #efefef solid;
		}

		.row-striped {
		    padding: 15px;
		}
		.k{
			margin:3px;
		}
		</style>
		<div class="k">
	<a href="{% url 'homepage:home' %}"><img src="{% static 'lg.png' %}" width="100px"></a>
</div>
	<br><br>
	<h1 class="a"> Feedback </h1>
	
	<div class="show post container">
		<div class= "col-xl-6">
		<br><br><br><br>
		{% for post in postlist2 %}
			<div class="row row-striped">
				<p><strong>{{ post.nama}}</strong><br>
				{{post.feedback}} </p>
				
					</div>				
				
					{% endfor %}
					<div clas= "a"><p ><br><br>Terimakasih atas feedbacknya, kembali ke <a href={% url 'homepage:home'%}>home</a></p></div>
		<br><br>
	</div>
		
			
					
					
				
			   	


</html>