* {
    font-family: 'Roboto', sans-serif;
}

.donut-pic1{
    height: 120px;
    width: 120px;
}

.header-section{
    height: 100vh;
    width: 100vw;
}

.how-to-section{
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    line-height: 5em;
}

.package-section{
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
}

.package-pic{
    height: 300px;
    width: 300px;
}

.user-section{
    color: #B15D5D;
    background-color: #F3A67B;
}

.user{
    height:100vh;
}

.narrow{
    width: 10px;
}

.break{
    margin-top: 100px;
}

.butt{
    background-color: #F5AB40;
    font-size: 20px;
    color: white;
}

.hr{
    height: 20px;
    background-color: #F5AB40;
}

#coffee{
    margin-left: -10%;
    transform: rotate(10deg);
    padding: 0;
    border: 0;
    max-height: 400px;
    max-width: 400px;
}

#newspaper{
    margin-bottom: -40vh;
    padding: 0;
    border: 0;
}

#donut-stack{
    position: absolute;
    margin-left: 60%;
}

#pesan{
    height:12vh;
    margin-bottom: 10%;
    margin-top: 10%;
    background: #FBE2BD;
    border-radius: 20px;
    font-weight: bold; 
    font-size: 50px; 
    color: #4E4545
}

#mix-donut{
    width: 230px;
    height: 120px;
    margin-left: -15%;
}

#id_address{
    height: 20vh;
    background-color: #F5AB40;
}

#id_name, #id_number, #id_date{
    height: 2rem;
    background-color: #F5AB40;
}

#id_donut_flav_A, #id_donut_flav_B, #id_donut_flav_C, #id_donut_flav_D, #id_donut_flav_E, #id_donut_flav_F, #id_donut_flav_G, #id_donut_flav_H{
    width: 40px;
    text-align: center;
    background-color: #FFAAA5;
    font-size: 20px;
}
