* {
    font-family: 'Roboto', sans-serif;
}

#chef .col-2{
	background-color: #D8AEAE;
	text-align: center;
	color: #4E4545;
	margin : 15px;
}

#chef h3{
	font-size:20px;
	padding-top: 10px;
}

#chef .form-group{
          padding-top:130px;
}	

#req{
	background-color: #F9D3BD !important;
}

#req .formreq{
	display: block ;
}

#req .col{
	margin: 20px;
	display: block;
	background-color: #F9D3BD !important;
}

.formBahan{
	display: block;
}
