<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/ppw2.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>King Donat</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row header-section">
            <div class="col-md-12 text-center">
                <p id="home-halo" style="font-size: 200px; color: #F4B252; font-weight: bold">HALO !</p>
            </div>
            <div class="col-md-4 offset-md-4 text-center">
                <p>King Donat adalah toko donat online dimana kami dapa mengantarkan donat ke tempat Anda.
                    Selain itu, anda juga dapat membuat donat sesuai keiginan!
                </p>
            </div>
            <div class="col-md-9">
                <img id="coffee" src="{% static 'images/coffee.png' %}">
            </div>
            <div class="col-md-3">
                <img id="newspaper" src="{% static 'images/newspaper.png' %}">
            </div>
        </div>
        <div class="row how-to-section">
            <div class="col-md-11 offset-md-1">
                <p style="font-weight: bold;font-size: 50px; color: #DD7777; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                    CARA PESAN
                </p>
                <ol>
                    <li class="ml-5">Pilih paket sesuai banyak yang diinginkan.</li>
                    <li class="ml-5">Mengisi indentitasmu yaitu nama, nomor telepon dan alamat tujuan.</li>
                    <li class="ml-5">Memilih donat sesuai dengan keiginan.</li>
                    <img id="donut-stack" src="{% static 'images/donut-stack.png' %}">
                    <li class="ml-5">Mengonfirmasi pesanan.</li>
                    <li class="ml-5">Menunggu pesanan datang!</li>
                </ol>
            </div>
        </div>
        <div class="row package-section">
            <div class="col-md-4  my-auto">
                <hr class="hr">
            </div>
            <div class="col-md-4 text-center my-auto">
                <p style="font-size: 100px; color: #B15D5D;">PAKET</p>
            </div>
            <div class="col-md-4 my-auto">
                <hr class="hr">
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <img class="package-pic" src="{% static 'images/package-11.png' %}">
            </div>
            <div class="col-md-4 text-center">
                <img class="package-pic" src="{% static 'images/package-22.png' %}">
            </div>
            <div class="col-md-3 text-center">
                <img class="package-pic" src="{% static 'images/package-3.png' %}">
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <p>1/4 Lusin</p>
            </div>
            <div class="col-md-4 text-center mb-5">
                <p>1/2 Lusin</p>
            </div>
            <div class="col-md-3 text-center">
                <p>1 Lusin</p>
            </div>
            <div id="pesan" class="col-md-4 offset-md-4 mt-5 text-center">
                <a href="{% url 'homepage:person' %}">PESAN</a>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
    {% endblock %}
</body>
</html>