<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/ppw2.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>King Order</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <form class="site-form" action="{% url 'homepage:person' %}" method="post">
            {% csrf_token %}
            <div class="row break">
                <div class="col-md-4">
                    <img style="position: absolute; height: 300px; width: 250px; transform:rotate(90deg);" src="{% static 'images/homer-arm.png' %}">
                </div>
                <div class="col-md-2 mt-5 user-section">
                    <p class="mt-5">Nama:</p>
                </div>
                <div class="col-md-2 mt-5 user-section">
                    <p class="mt-5">{{ form.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-4 user-section">
                    <p>Nomor:</p>
                </div>
                <div class="col-md-2 user-section">
                    <p>{{ form.number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-4 user-section">
                    <p>Alamat:</p>
                    
                </div>
                <div class="col-md-2 user-section">
                    <p>{{ form.address }}</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 offset-md-4 user-section">
                    <p>Tanggal order:</p>
                </div>
                <div class="col-md-2 user-section">
                    <p>{{ form.date }}</p>
                </div>
                <div class="col-md-4">
                    <img style="position: absolute; height: 300px; width: 250px; transform:rotate(-90deg); margin-left:11vw;" src="{% static 'images/homer-arm.png' %}">
                </div>
            </div>
            <div class="row mb-5 break">
                <div class="col-md-12 text-center mt-5">
                    <p style="color: #F5AB40; font-size: 64px;">Base</p>
                    <p>{{ form.donut_base }}</p>
                </div>
                <div class="col-md-2 offset-md-3 text-center">
                    <img class="donut-pic1" src="{% static 'images/choco.png' %}">
                    <p>Choco</p>
                </div>
                <div class="col-md-2 text-center">
                    <img id="mix-donut" class="donut-pic" src="{% static 'images/mix.png' %}">
                    <p>Mix</p>
                </div>
                <div class="col-md-2 text-center">
                    <img class="donut-pic1" src="{% static 'images/original.png' %}">
                    <p>Original</p>
                </div>
                <div class="col-md-12 text-center mt-5">
                    <p style="color: #F5AB40; font-size: 64px;">Flavor</p>
                </div>
            </div>
            <div class = "row mt-5">
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut1.png' %}">
                    <p>A: {{ form.donut_flav_A }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut2.png' %}">
                    <p>B: {{ form.donut_flav_B }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut3.png' %}">
                    <p>C: {{ form.donut_flav_C }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut4.png' %}">
                    <p>D: {{ form.donut_flav_D }}</p>
                </div>        
            </div>
            
            <div class = 'row'>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut5.png' %}">
                    <p>E: {{ form.donut_flav_E }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut6.png' %}">
                    <p>F: {{ form.donut_flav_F }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut7.png' %}">
                    <p>G: {{ form.donut_flav_G }}</p>
                </div>
                <div class = "col-md-3 text-center">
                    <img class="donut-pic1 mb-3" src="{% static 'images/donut8.png' %}">
                    <p>H: {{ form.donut_flav_H }}</p>
                </div>        
            </div>
            <div class="col-md-12 text-center mt-5 mb-5">
                <input class="butt" type="submit" value="Lanjut"/>
            </div>
            
        </form>
        
    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
    {% endblock %}
</body>
</html>